<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<a id="navbar-brand" class="navbar-brand mx-2 text-primary" href="/">Open API Docs</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <div class="navbar-nav mr-auto">
	      
	    </div>

	    <div class="form-inline my-2 my-lg-0">
	    	<div id="navbar-spinner" class="spinner-border spinner-border-sm text-primary mx-5" role="status">
	    	  <span class="sr-only">Loading...</span>
			</div>
			<div id="home-container" class="d-none">
				<div id="btn-home"class="btn btn-light" >
					<img class="img-fluid mx-1 d-inline-block" width="25" height="25" src="/img/UsernameIcon.svg" alt="UserIcon">
					<div class="mx-1 d-inline-block align-middle"><span id="username-display" class="h5"></span></div>
				</div>
			</div>
			<a id="btn-sign-in" class="btn btn-outline-primary my-2 my-sm-0 mx-1 d-none" href="/signin">Sign in</a>
			<a id="btn-sign-up" class="btn btn-outline-primary my-2 my-sm-0 mx-1 d-none" href="/signup">Sign up</a>
			<button id="btn-sign-out" class="btn btn-outline-danger my-2 my-sm-0 mx-1 d-none">Sign out</button>

	    </div>

	  </div>
	</nav>
	<input id="session" class="d-none" type="checkbox">

	<div class="mt-5 pt-4">
		<div id="content" class="">

			{{{ body }}}

		</div>
	</div>
	
	<!-- Footer -->
	<footer class="bg-light container-fluid">
		<div class="container p-5">
			<h6>By Interns GDL</h6>
			<p>Contribute in our <a href="https://github.com/dariomtz/APIDOCS">Github Repository</a></p>
			<p>Join our <a href="https://github.com/interns-gdl">Github Org.</a></p>
			<p>Visit our<a href="http://cs-interns.web.app/">Website</a></p>
	  </div>
	</footer>

	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
	<!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#available-libraries 
		-Realtime Database
		-Authentication
	 -->
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="/firebase.js"></script>

	<script type="text/javascript" src="/Showable.js"></script>
	<script type="text/javascript" src="/Controller.js"></script>
	<script type="text/javascript" src="/View.js"></script>
	<script type="text/javascript" src="/Model.js"></script>

	<script type="text/javascript" src="/session/SessionModel.js"></script>
	<script type="text/javascript" src="/session/SignInController.js"></script>
	<script type="text/javascript" src="/session/SignUpController.js"></script>

	<script type="text/javascript" src="/user/UserModel.js"></script>
	<script type="text/javascript" src="/user/UserProjectsView.js"></script>

	<script type="text/javascript" src="/project/ProjectModel.js"></script>
	<script type="text/javascript" src="/project/ProjectPreView.js"></script>
	<script type="text/javascript" src="/project/ProjectView.js"></script>
	<script type="text/javascript" src="/project/ProjectController.js"></script>

	<script type="text/javascript" src="/resource/ResourceModel.js"></script>
	<script type="text/javascript" src="/resource/ResourceView.js"></script>

	<script type="text/javascript" src="/endpoint/EndpointController.js"></script>
	<script type="text/javascript" src="/endpoint/EndpointView.js"></script>
	
	<script type="text/javascript" src="/index.js"></script>
	
	
</body>
</html>