<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{{ body }}}

	
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
	<!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#available-libraries 
		-Realtime Database
		-Authentication
	 -->
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>
	<script type="text/javascript" src="/firebase.js"></script>
	<script type="text/javascript" src="/Session.js"></script>
	<script type="text/javascript" src="/User.js"></script>
	<script type="text/javascript" src="/Project.js"></script>
	<script type="text/javascript" src="/index.js"></script>
</body>
</html>