<div class="d-flex justify-content-center">
  <div id="sign-in-form" class="m-5 p-5 d-none text-center">
    <h1 class="">Sign In</h1>
    <br>

      <input id="sign-in-email" type="text" class="form-control m-3" tag="Username" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">

      <input id = "sign-in-password" type="password" class="form-control m-3" tag="Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">

      <button id="button" type="button" class="btn btn-dark m-2">Submit</button>
      <br>
      <a href="/signup"> 
        <button id="Register" type="button" value="Register"  class="btn btn-link m-2">Not a member? Register</button> 
      </a>
  </div>

  <div id ="sign-up-form" class="m-5 p-5 d-none text-center">
    <h1 class="">Sign Up</h1>
    <br>
        
      <input id="sign-up-email" type="text" class="form-control m-3" tag="Email" placeholder="Email" aria-label="Email">

      
      <input id="sign-up-username" type="text" class="form-control mx-3 mt-3" tag="useReg" placeholder="Username" aria-label="useReg" aria-describedby="username-description">
      <small id="username-description" class="form-text text-muted mx-3 mb-3">
        Your username will be visible in all of your projects and it cannot be changed later.
      </small>
      
      

      <input id="sign-up-password" type="password" class="form-control m-3" tag="passwordReg" placeholder="Password" aria-label="passwordReg" aria-describedby="basic-addon1">

      <input id="sign-up-confirmation" type="password" class="form-control m-3" tag="Confirmation" placeholder="Confirm password" aria-label="Confirmation" aria-describedby="basic-addon1">

      <button id="sign-up-submit" type="button" class="btn btn-dark m-2">Submit</button>
      <br>
      <a href="/signin"> 
        <button id="Register" type="button" value="Register"  class="btn btn-link m-2">Already a member? Sign in!</button> 
      </a>
  </div>

  <div id="spinner-auth" class="d-flex justify-content-center">
    <div class="spinner-border m-5 text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

